html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet", href="styles/normalize.css")
		link(rel="stylesheet", href="styles/style.css")

	body
		h1 HC Web Dev Guide

		//- INTRO -//
		h2 INTRO
		
		p.
			 This is how we make the interwebs at HC. Everything you see is built with stuff we actually use. When making a new web project, you can use this as your guide for all aesthetic and technical choices. this is meant to be a living document. as our standards change, so shall this site. Amen. 

		h2 HOW TO USE THIS SITE
		p.
			This site is meant as a quick reference with links to the tech we use and explanations of how we use them. Use it to figure out what you should use so we're all in sync. This site is also used to generate our style guide with #[a(href="https://github.com/devbridge/Styleguide") this doohickey]. For our complete style guide, go #[a(href="#") here].
	
		br

		#contents
			h2 contents
			hr
			ul
				li #[a(href="#browsers-and-devices") 1. Browsers and Devices]
				br
				li #[a(href="#aesthetics") 2. Aesthetics]
					ul.indent1
						li colors
						li typography
						li buttons
						li nav
						li forms
				br
				li #[a(href="#assets") 3. Assets]
					ul.indent1
						li logos
						li font files
						li images
						li icons/glyphs
						br
				li #[a(href="#front-end") 4. Front-end]
					ul.indent1
						li tech stack
						li layout
						li code style and best practices
						br
				li #[a(href="#back-end") 5. Back-end]
					ul.indent1
						li tech stack
						li git practices
						li code style and best practices
						br
				li #[a(href="#about") 6. About this site]
		br
		
		//- Browsers & Devices -///////////////////////////////////////////////////////////
		h2#browsers-and-devices Browsers and Devices
		hr
		h3 Supported browsers
		p As of 2016, we support the latest version of every browser as well as the previous version. 
		table#contents
			tr
				td IE
				td Edge
				td Firefox
				td Chrome
				td Safari
				td Opera
				td iOS Safari
				td Opera Mini
				td Android Browser
				td Chrome for Android
			tr
				td 9
				td 13
				td 45
				td 49
				td 9
				td 36
				td 8.4
				td 8
				td 4.4.4
				td 50

		h3 Supported Operating Systems
		p.
			At this time, we develop for the most current operating system across platforms. If a project is going to be released to the market, we rely on third-party vendors to take care of compatibility issues. 

		h3 Programming for Supported Devices & Hybrid Apps
		p.
			Because of our existing partnerships, we try to compile for iOS, Androids, and Windows mobile platforms. This is done using the technology of your choice. As of Spring, 2016, the Product team is using #[a(href="https://facebook.github.io/react-native/") React Native], and R&D has explored #[a(href="https://software.intel.com/en-us/intel-xdk") Intel XDK] and is learning React but no platform has been chosen.  
		
		br
		
		//- Aesthetics -///////////////////////////////////////////////////////////
		//- Color -//
		h1#aesthetics Aesthetics
		hr
		p.
			Full style guide #[a(href="#") is available here]. It includes HTML/SCSS/CSS snippets, styles, colors, etc. Use it!

		h3 Colors
		.boxes#color-boxes
			.box-div
				p.strong GLOBAL
				.box#global-color-box
				table
					tr
						td RGB
						td 80, 158, 47
					tr
						td CMYK
						td 79, 0, 100, 2
					tr
						td HEX
						td #509E2F
					tr
						td Pantone
						td 362C 7739U	
					tr
						td SCSS var
						td $hc-green

			.box-div
				p.strong SAFETY
				.box#safety-color-box
				table
					tr
						td RGB
						td 255, 105, 0
					tr
						td CMYK
						td 0, 56, 90, 0
					tr
						td HEX
						td #FF6900
					tr
						td Pantone
						td 1505C 021U
					tr
						td SCSS var
						td $hc-orange

			.box-div
				p.strong LABS
				.box#labs-color-box
				table
					tr
						td RGB
						td 150, 60, 189
					tr
						td CMYK
						td 58, 87, 0, 0
					tr
						td HEX
						td #963CBD
					tr
						td Pantone
						td 7442C 2070U	
					tr
						td SCSS var
						td $hc-purple

			.box-div
				p.strong INSTITUTE
				.box#institute-color-box
				table
					tr
						td RGB
						td 128, 148, 221
					tr
						td CMYK
						td 55, 37, 0, 0
					tr
						td HEX
						td #8094DD
					tr
						td Pantone
						td 7452C
					tr
						td SCSS var
						td $hc-blue

			.box-div
				p.strong BLACK
				.box#hc-black-box
				table
					tr
						td RGB
						td 65, 65, 66
					tr
						td CMYK
						td 0, 0, 0, 90
					tr
						td HEX
						td #393637
					tr
						td Pantone
						td 90%
					tr
						td SCSS var
						td $hc-black
			
			.box-div
				p.strong GREY
				.box#hc-grey-box
				table
					tr
						td RGB
						td 85, 85, 85
					tr
						td CMYK
						td 64, 54, 50, 6
					tr
						td HEX
						td #555555
					tr
						td Pantone
						td 425C 419U
					tr
						td SCSS var
						td $hc-grey

			.box-div
				p.strong LT GREY
				.box#hc-lt-grey-box
				table
					tr
						td RGB
						td 216, 216, 216
					tr
						td CMYK
						td 10, 7, 5, 0
					tr
						td HEX
						td #D8D8D8
					tr
						td Pantone
						td 1C 1U
					tr
						td SCSS var
						td $hc-lt-grey
			
			.box-div
				p.strong WHITE
				.box#hc-white-box
				table
					tr
						td RGB
						td 255, 255, 255
					tr
						td CMYK
						td 0, 0, 0, 0
					tr
						td HEX
						td #FFFFFF
					tr
						td Pantone
						td 663C 649U
					tr
						td SCSS var
						td $hc-white
		
		br

		//- Typography -//
		h1#typography Typography
			p See the #[a(href="front-end") front-end] section for font file downloads and SCSS mixin usage. Usually, we use #393637 ($site-black) for color on all fonts. Note, h1 - h3 do not have SCSS variable names. 

			#typo-1
				h1 Heading1 
				.desc fontFace: Bebas Neue, font-size: 2rem, letter-spacing: 1.2px
				
				h2 Heading2
				.desc fontFace: Bebas Neue, font-size: 1.5rem, letter-spacing: 1.2px

				h3 Heading3
				.desc fontFace: Bebas Neue, font-size: 1.25rem, letter-spacing: 1.2px
			
			#typo2
				p.section-lt Section Light
				.desc fontFace: Gotham Light, font-size: 1rem, SCSS: 'hc-section-lt'
				
				p.section-med Section Medium
				.desc fontFace: Gotham Medium, font-size: 1rem, SCSS: 'hc-section-med'
				
				p.strong Strong
				.desc fontFace: Gotham Medium, font-size: 0.85rem, SCSS: .strong class or strong element
				
				p Text
				.desc fontFace: Gotham Book, font-size: 0.85rem, SCSS: 'hc-text'

		//- Buttons -//
		h1#buttons Buttons
		p I'm totally making all this up. We have no styles for buttons yet. Hover and click too see full styles.
		
		h3 Light
		p Navigation or general 
		button.button-nav.button-med Med Button
		button.button-nav.button-sm Sm. Button

		h3 Heavy
		p Prompt user action. Use corresponding department color. 
		button.button-action.button-lg Large Button
		button.button-action.button-med Med Button
		Button.button-action.button-sm Small Button
		
		br
			
		//- Nav -//
		h1#navigation Navigation
		p.
			#[span.strong We use flexbox to create navigation menus.] Dept. logo left-justified. Nav links right-justified. On mobile, logo stays and nav links should collapse to right-justified burger icon. Activating icon should toggle horizontal drawer menu. 


		footer


//- TO DO -//
//- bold on left side of tables (odd) in color section
//- side menu with section links
