html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet", href="styles/normalize.css")
		link(rel="stylesheet", href="styles/style.css")

	body
		h1 HC Web Dev Guide

		//- INTRO -//
		h2 INTRO
		
		p.
			 This is how we make the interwebs at HC. Everything you see is built with stuff we actually use. When making a new web project, you can use this as your guide for all aesthetic and technical choices. this is meant to be a living document. as our standards change, so shall this site. amen. 

		h2 HOW TO USE THIS SITE
		p.
			This site is meant as a quick reference with links to the tech we use and explanations of how we use them. Use it to figure out what you should use so we're all in sync. This site is also used to generate our style guide with <a href="https://github.com/devbridge/Styleguide">this doohickey</a>. For our complete style guide, go <a href="#">here</a>.


		#contents
			h2 contents
			ul
				li support
				li aesthetics
				li assets
					ul
						li logos
						li fonts
						li images
						li icons/glyphs
				li front-end
					ul
						li tech stack
						li layout
						li code style and best practices
				li back-end
					ul
						li tech stack
						li git practices
						li code style and best practices
				li about this site


		//- Aesthetics -//
		h2 Aesthetics
		#palette
			p colors go here

		hr

		footer
			p this is a footer.


//- TO DO -//
//- sliding menu with contents
