//- VARIABLES -//
$hc-green:  rgb(80, 158, 47);   // #509E2F
$hc-orange: rgb(255, 105, 0);   // #FF6900
$hc-purple: rgb(150, 60, 189);  // #963CBD
$hc-blue:   rgb(128, 148, 221); // #8094DD
$hc-black: 	rgb(65, 65, 65); 	// #393637
$hc-grey:  	rgb(85, 85, 85);	// #555555
$hc-lt-grey:rgb(216, 216, 216); // #D8D8D8
$hc-white: 	white;

$lg-screen: 960;
$med-screen: 768;
$sm-screen: 480;

@mixin forLargeScreens($media) {
	@media (min-width: $media/16+em) { @content; }
}

@mixin fontFace($font-family, $file-path) {
    @font-face {
        font: {
            family: $font-family;
            weight: normal;
            style:  normal;
        }
      //Modern Browsers
        src: url('#{$file-path}.woff') format('woff');
    }
}

@include fontFace(hc-text, '../fonts/gotham-book');
@include fontFace(hc-title,   '../fonts/bebasneue');
@include fontFace(hc-section-lt,   '../fonts/gotham-lt');
@include fontFace(hc-section-med,  '../fonts/gotham-med');

* {
	box-sizing: border-box;
	padding: 0;
}

body {
	background: hc-white;
	max-width: 90%;
	text-align: left;
	margin: 0 auto;
	font-family: text;
	font-size: 1rem;
}

h1, h2, h3 {
	font-family: hc-title;
	color: $hc-black;
}

h1, h2, h3 {
	letter-spacing: 1.2px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

.section-lt {
	font-family: hc-section-lt;
	font-size: 1rem;
}

.section-med {
	font-family: hc-section-med;
	font-size: 1rem;
}

p, li, ul {
	font-family: hc-text;
	color: $hc-black;
	font-size: 1rem;
	@include forLargeScreens($med-screen) {
		font-size: 0.85rem;
	}
}

a {
	font-family: hc-section-med;
	color: $hc-black;
}

ul {
	list-style-type: none;
}

.indent1 {
		padding-left: 1rem;
}

table, th, td {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

table {
	text-align: center;
	vertical-align: center;
	td {
			height: 2rem;
			width: 8rem;
			padding: .25rem;
	}	
}

#contents {
	tr  {
		border-bottom: 1px solid #ddd;
		&:nth-child(odd) {
			background-color: #f2f2f2;
		}
	}	
}


#color-boxes {
	display: flex;
	flex-wrap: wrap;

	.box-div {
		margin-right: 1rem;
		margin-bottom: 1rem;
		.box {
			height: 150px;
			max-width: 240px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	table {
		max-width: 240px;
		td {
			font-family: hc-text;
			height: 3rem;
			&:nth-child(odd) {
				font-family: hc-section-med;
			}
		}
	}

	#global-color-box {
		background-color: $hc-green;
	}
	#safety-color-box {
		background-color: $hc-orange;
	}
	#labs-color-box {
		background-color: $hc-purple;
	}
	#institute-color-box {
		background-color: $hc-blue;
	}
	#hc-black-box {
		background-color: $hc-black;
	}
	#hc-grey-box {
		background-color: $hc-grey;
	}
	#hc-lt-grey-box {
		background-color: $hc-lt-grey;
	}
	#hc-white-box {
		background-color: $hc-white;
		border: 1px solid $hc-lt-grey;
	}
}

.boxes {
	.box {
		flex: 1;
		width: 100%;
		height: 150px;
	}
}

.desc {
	font-family: hc-text;
	font-size: .75rem;
	margin-top: -.5rem;
	padding-bottom: .5rem;
}

button {
	background-color: #FFFFFF;
	border-style: solid;
	border-radius: 1.5rem;
	
	cursor: pointer;
	font-family: hc-text;
}

.button-nav {
	border-width: 1.5px;
	color: $hc-black;
	border-color: $hc-black;
	transition: color 200ms, border-color 200ms;
	&:hover {
		box-shadow: 0 1px 0 $hc-black ;
	}
	&:active {
		color: $hc-lt-grey;
		border-color: $hc-lt-grey;
	}
}

.button-action {
	border-width: 0;
	color: $hc-white;
	background-color: $hc-orange;
	transition: color 200ms, border-color 200ms;
	&:hover {
		box-shadow: 0 2px 0 $hc-grey ;
		color: $hc-grey;
	}
	&:active {
		color: $hc-lt-grey;
		box-shadow: 0 2px 0 $hc-lt-grey ;
	}
}

.button-sm {
	padding: 0.4rem .8rem; 
}

.button-med {
	padding: 0.7rem 1.3rem; 
}

.button-lg {
	padding: 1.3rem 1.7rem;
	border-radius: 2rem;
	font-size: 1rem;
}

#navigation {
	padding-top: 1rem;
}

strong {
	font-family: hc-section-med;
}

.strong {
	font-family: hc-section-med;
}